*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}
body{
    background-color: white;
}
/* utility class are here */
.yello-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;

}
a{
    text-decoration: none;
}
.container{
    max-width: 1370px;
    margin: auto;
    width: 85%;
}
/* main header and navigation */
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.main-header .content-header ul {
    display: flex;
    gap: 23px;
}
.main-header .login-header{
    display: flex;
    gap: 23px;
    align-items: center;
}
.main-header .login-header i{
    font-size: 18px;
    margin-top: 5px;

}
.button{
    padding: 10px 17px;
    background-color: rgba(235, 0, 41, 1);
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 12px;
}

.main-header .login-header button i{
   margin-right: 7px;
    font-size: 12px;
}
.color{
    color: black;
}
.red{
    color: rgba(235, 0, 41, 1);
}


/* main section start from here */
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.food-text{
    display: inline;
    font-family: "Lobster Two", system-ui;
    font-weight: 700;
    color: rgba(235, 0, 41, 1);
}
.main-right{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.main-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.main-left h1{
    font-size: 55px;
    line-height: 55px;
    display: inline;
}
.main-text{
    font-size: 22px;
}
.main-button{
    padding: 15px 22px;
    background-color: rgba(235, 0, 41, 1);
    border-radius: 20px;
    color: white;
    border: none;
}
.vidio{
    padding: 8px 15px;
    background-color: white;
    border-radius: 20px;
    color: black;
    border: none;
    box-shadow: 0px 0px 2px 1px #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.vidio-button{
    display: flex;
    gap: 8px;
}
.yello-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(242, 201, 76, 1);
}

/* main raght start from here */
.main-right img{
    width: 38vw;
    margin-top: 20px;
}

